@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;1,400;1,500&display=swap');

.dark>* {
    color: white;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 white;
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}


body
{
height: 135vh;
margin-top: 80px;
padding: 30px;
background-size: cover;
font-family: sans-serif;
background-color: rgb(216, 177, 177);
border: solid rgb(0, 0, 0);
border-width: thin black 10px;
box-sizing: border-box;
width: 100vh;

}
header {
/* position: fixed; */
left: 0;
right: 0;
top: 5px;
height: 30px;
width: 410px;
display: flex;
align-items: center;


}
#logo {
    position: absolute;
    left: 100px;
    top: 16px;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: #81b29a;
text-decoration: none;

}
header nav {
    margin: 0 auto;
}
#hero-image {
    margin:0 auto;
    padding-bottom: 30px;
    top: -20px;

}

#sub-banners {
    margin: 0 auto;
}
#sub-banner1 {
    padding-right: 30px;
}
#sub-banner2 {
    padding-right: 30px;
}
#sub-banner3 {
    padding-right: 30px;
}

#featured-Items{
    padding-top: 30px;
    padding-right: 30px;
}
#featured-Text {
    position: absolute;
    float:right;
    /* margin-left: 500px; */
    margin-bottom: 1000px;
    left: 90px;
    top: 1200px;
    max-width: 720px;
    z-index: 1;
}

#action-button {
    padding: 20px 103px;
    margin: 652px 824px;
    color: red;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    background-color: white;
  }
  #action-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(.1);
    transform: scaleY(.1);
    transition: all .4s
  }
  #action-button:hover {
    color: #81b29a;
  }
  #action-button:hover::before {
    opacity: 1;
    background-color: #f7c2f9;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform 350ms cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform 350ms cubic-bezier(.08, .35, .13, 1.02), opacity
  }

  .dark {
    background-color: rgb(46, 44, 44);
    transition: 0.3s;
  }
#darkmode {
top: -400px;
}

#name {
    position: absolute;
    left: 150px;
    top: -15px;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

#description {
    position: absolute;
    left: 155px;
    top: 70px;
    font-family: 'Roboto', sans-serif;
}

#nameLogo {
    position: absolute;
    left: -5px;
    top: 12px;
    width: 30%;
}
#paragraph {
    position: absolute;
    left: 40px;
    top: 844px;
    width: 55%;
}

#notepad {
    position: absolute;
    left: 25px;
    top: 1151px;
    width: 65%;
}
#divider{
    background-image: url(media/hr-img.png);
    background-repeat: repeat repeat;
}

#footer {
    position: absolute;
    left: 17px;
    top: 1550px;
    width: 65%;
}

#headShot {
    position: absolute;
    left: 137px;
    top: 1537px;

}